---
http_interactions:
- request:
    method: get
    uri: https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMakeId/440?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ssl-Tls:
      - TLSv1.2
    body:
      encoding: UTF-8
      string: '{"Count":13,"Message":"Response returned successfully","SearchCriteria":"Make:440","Results":[{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":1684,"Model_Name":"V8 Vantage"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":1686,"Model_Name":"DBS"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":1687,"Model_Name":"DB9"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":1688,"Model_Name":"Rapide"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":1695,"Model_Name":"V12 Vantage"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":1697,"Model_Name":"Virage"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":1701,"Model_Name":"Vanquish"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":13751,"Model_Name":"DB11"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":14157,"Model_Name":"Lagonda"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":14162,"Model_Name":"Vantiage"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":14164,"Model_Name":"V8"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":19609,"Model_Name":"Vanquish S"},{"Make_ID":440,"Make_Name":"Aston
        Martin","Model_ID":19610,"Model_Name":"Vanquish Zagato"}]}'
  recorded_at: Mon, 20 Apr 2020 02:26:07 GMT
recorded_with: VCR 5.1.0
